table {
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}
table th{
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}
table .delete,table .detail{
    background-color: #d9534f;
    border-color: #d43f3a;
    color:#fff;
    display: inline-block;
    padding: 3px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border-radius: 4px;
}
table span {
    margin:0 5px;
}
table .detail {
    background-color: #5bc0de;
    border-color: #46b8da;
}
#navbar{
    background-color: #337ab7;
}
#navbar a{
    color: #ffffff;
}
#navbar > .navbar-text{
    color: #ffffff;
}
.navbar-text > span{
    color: #ffffff;
}
.detail {
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 800px;
    padding: 20px;
    -webkit-box-shadow: 3px 3px 10px #9edeff;
    box-shadow: 3px 3px 10px #ccc;
    margin:0 20px;
}
.infoList {
    margin:25px 0;
    font-size:1.3em;
}
.infoList span {
    padding: 0 12px;
    text-align: center;
    height:20px;
    line-height: 20px;
    border-left:1px solid #cccccc;
}

.infoList p {
    line-height: 35px;
    height: 35px;
}
.infoList span:first-child{
    border-left:none;
}
.createRecord{
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 800px;
    padding: 20px;
    -webkit-box-shadow: 3px 3px 10px #9edeff;
    box-shadow: 3px 3px 10px #ccc;
    margin:0 auto;
}
.blank{
    height: 10px;
}

.btn-editDiseaseName {
	margin-right:5px;
}
.btn-editResult {
	margin-right:5px;
}