table {
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}
table th{
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}
#navbar{
    background-color: #337ab7;
}
#navbar a{
    color: #ffffff;
}
#navbar > .navbar-text{
    color: #ffffff;
}
.navbar-text > span{
    color: #ffffff;
}
.detail {
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 800px;
    padding: 10px;
    -webkit-box-shadow: 3px 3px 10px #9edeff;
    box-shadow: 3px 3px 10px #ccc;
}
.detail p {
    font-size: 18px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.3;
}
.breadcrumb {
    background-color: #f5f5f5;
    border-radius: 4px;
    list-style: outside none none;
    margin-bottom: 20px;
    padding: 8px 15px;
}
.blank{
    height: 10px;
}
.breadcrumb {
    background-color: #ffffff;
    border-radius: 4px;
    list-style: outside none none;
    margin-bottom: 20px;
    padding: 8px 15px;
}