<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.chsis.dao.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="top.chsis.model.Department" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
    <association property="hospital" column="hospital_uuid" select="top.chsis.dao.HospitalMapper.selectByPrimaryKey"></association>
  </resultMap>

  <sql id="Base_Column_List" >
    uuid, name, number, hospital_uuid
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_department
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByNumber" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_department
    where number = #{number,jdbcType=VARCHAR}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from t_department
  </select>
  
  <select id="selectDepartmentsByHospitalUUID" resultMap="BaseResultMap" parameterType="java.lang.String" >
  	select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_department
    where hospital_uuid = #{hospitalUUID,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="top.chsis.model.Department" >
    select * from t_department d
    where 1=1
    <if test="uuid!=null and uuid!=''">
		and d.uuid LIKE CONCAT('%', #{uuid},'%' )
	</if>
    <if test="number!=null and number!=''">
		and d.number LIKE CONCAT('%', #{number},'%' )
	</if>
	<if test="name!=null and name!=''">
		and d.name LIKE CONCAT('%', #{name},'%' )
	</if>
	
	and d.hospital_uuid = #{hospital.uuid}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_department
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="top.chsis.model.Department" >
    insert into t_department (uuid, name, number, 
      hospital_uuid, description)
    values (#{uuid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR}, 
      #{hospital.uuid,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.chsis.model.Department" >
    insert into t_department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="hospitalUUID != null" >
        hospital_uuid,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="hospital != null" >
        #{hospital.uuid,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.chsis.model.Department" >
    update t_department
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="hospital != null" >
        hospital_uuid = #{hospital.uuid,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.chsis.model.Department" >
    update t_department
    set name = #{name,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      hospital_uuid = #{hospital.uuid,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>