<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.chsis.dao.ImmuneRecordMapper" >
  <resultMap id="BaseResultMap" type="top.chsis.model.ImmuneRecord" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="immuneTime" property="immuneTime" jdbcType="VARCHAR" />
    <result column="vaccine" property="vaccine" jdbcType="VARCHAR" />
    <association column="patient_uuid" property="patient" select="top.chsis.dao.ResidentMapper.selectByPrimaryKey" jdbcType="VARCHAR"></association>
    <association column="hospital_uuid" property="hospital" select="top.chsis.dao.HospitalMapper.selectByPrimaryKey" jdbcType="VARCHAR"></association>
  </resultMap>
  
  <sql id="Base_Column_List" >
    uuid, patient_uuid, immuneTime, hospital_uuid, vaccine
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_immunerecord
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <select id="selectImmuneRecordsByPatientUUID" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_immunerecord
    where patient_uuid = #{patientUUID,jdbcType=VARCHAR}
  </select>
  
  <select id="selectImmuneRecordsByHospitalUUID" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_immunerecord
    where hospital_uuid = #{hospitalUUID,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByConditionInResident" resultMap="BaseResultMap" parameterType="top.chsis.model.ImmuneRecord" >
    select * from t_immunerecord
    where 1=1
    <if test="vaccine!=null and vaccine!=''">
		and vaccine LIKE CONCAT('%', #{vaccine},'%' )
	</if>
    <if test="immuneTime!=null and immuneTime!=''">
		and immuneTime LIKE CONCAT('%', #{immuneTime},'%' )
	</if>
	and patient_uuid = #{patient.uuid}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_immunerecord
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="top.chsis.model.ImmuneRecord" >
    insert into t_immunerecord (uuid, patient_uuid, immuneTime, 
      hospital_uuid, vaccine)
    values (#{uuid,jdbcType=VARCHAR}, #{patient.uuid,jdbcType=VARCHAR}, #{immuneTime,jdbcType=VARCHAR}, 
      #{hospital.uuid,jdbcType=VARCHAR}, #{vaccine,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="top.chsis.model.ImmuneRecord" >
    insert into t_immunerecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="patient != null" >
        patient.uuid,
      </if>
      <if test="immuneTime != null" >
        immuneTime,
      </if>
      <if test="hospital != null" >
        hospital.uuid,
      </if>
      <if test="vaccine != null" >
        vaccine,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="patient_uuid != null" >
        #{patient.uuid,jdbcType=VARCHAR},
      </if>
      <if test="immuneTime != null" >
        #{immuneTime,jdbcType=VARCHAR},
      </if>
      <if test="hospital_uuid != null" >
        #{hospital.uuid,jdbcType=VARCHAR},
      </if>
      <if test="vaccine != null" >
        #{vaccine,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="top.chsis.model.ImmuneRecord" >
    update t_immunerecord
    <set >
      <if test="patient != null" >
        patient_uuid = #{patient.uuid,jdbcType=VARCHAR},
      </if>
      <if test="immuneTime != null" >
        immuneTime = #{immuneTime,jdbcType=VARCHAR},
      </if>
      <if test="hospital != null" >
        hospital_uuid = #{hospital.uuid,jdbcType=VARCHAR},
      </if>
      <if test="vaccine != null" >
        vaccine = #{vaccine,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="top.chsis.model.ImmuneRecord" >
    update t_immunerecord
    set patient_uuid = #{patient.uuid,jdbcType=VARCHAR},
      immuneTime = #{immuneTime,jdbcType=VARCHAR},
      hospital_uuid = #{hospital.uuid,jdbcType=VARCHAR},
      vaccine = #{vaccine,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>