h4, h5, h6,h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 100%;
   background:#fff; 
}
.main {
    background-color: #fcfefd;
    border: 1px solid #d6dde7;
    margin: 0 auto;
    width:85.5%;
}
.nowlocation {
    background-color: #e5eaf0;
    height: 40px;
}
.title {
    font-family: "微软雅黑","宋体";
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 30px;
    text-align: center;
}
.newsinfo {
    color: #676767;
    font-family: "宋体";
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: center;
}
.text {
    margin: 30px 85px 40px;
    min-height: 225px;
    padding-bottom: 20px;
    text-align: left;
}